@tailwind base;
@tailwind components;
@tailwind utilities;


.stack {
    --gap: -50px;
    display: flex;
    flex-direction: column; 
    /* flex-wrap: wrap; */
    margin-bottom: calc(-1 * var(--gap));
    margin-left: calc(-1 * var(--gap));
}
  
.stack > * {
    margin-bottom: var(--gap);
    margin-left: var(--gap);
}


.horizontal-scroll::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.horizontal-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}